* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#me-nav-dropdown {
  padding: 0;
}
.dropdown-menu {
  right: -9px;
  top: 34px;
}
/* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

.my-modal {
  display: flex!important;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
}
.global-nav__product{
  padding: 10px;
}

.list-style-none{
  list-style: none!important;
  list-style-position: initial !important;
  list-style-image: initial !important;
  list-style-type: none !important;
}