.customize-card__profile-experience {
  border-radius: 8px;
  margin: 10px;
}
.modal-header__profile-experience{
  border: none;
}
.customize-title__profile-experience {
  font-size: x-large;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
.customize-button__profile-experience {
  color: rgba(0, 0, 0, 0.6);
  min-height: 32px;
  line-height: 2px;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-width: 64px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  margin: 10px 5px;
}

.customize-button-open-to__profile-experience {
  border: none;
  color: #fff;
  background-color: #0a66c2;
  border-color: #0a66c2;
}
.customize-button-open-to__profile-experience:hover {
  border: none;
  color: #fff;
  background-color: #004182;
  border-color: #004182;
}
.personal-img__profile-experience {
  position: absolute;
  width: 140px;
  height: 140px;
  top: -42%;
  left: 3%;
  border-radius: 50%;
  border: 3px solid white;
}


.customize-img__profile-experience {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
.personal-body__profile-experience {
  position: relative;
}
.edit-btn__profile-experience{
  /* margin-right:10px ; */
}