<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    h1 {
      background-color: #5c6f7c;
    }
  </style>
  <body>
    <div id="ember232" class="artdeco-card ember-view pv-top-card">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
        class="hidden"
        data-elementtiming="true"
        alt=""
        role="none"
      />
      <div
        class="live-video-hero-image"
        style="min-height: 195.501px; max-height: 195.501px"
      >
        <div class="live-video-hero-image__bg-image">
          <div class="profile-topcard-background-image-edit">
            <div
              tabindex="0"
              aria-label="Profile background"
              class="profile-background-image profile-background-image--loading"
            ></div>

            <div class="profile-topcard-background-image-edit__button">
              <div id="profile-topcard-background-image-edit-outlet"></div>
              <div
                class="profile-topcard-background-image-edit__icon profile-topcard-v2-background-image-edit__icon"
              >
                <button
                  aria-label="Edit profile background"
                  class="icon-wrapper artdeco-button artdeco-button--circle artdeco-button--inverse artdeco-button--1 artdeco-button--primary"
                  type="button"
                >
                  <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      data-supported-dps="16x16"
                      fill="currentColor"
                      class="mercado-match"
                      width="16"
                      height="16"
                      focusable="false"
                    >
                      <path
                        d="M10 9a2 2 0 11-2-2 2 2 0 012 2zm5-2.5V14H1V6.5A2.5 2.5 0 013.5 4h.75L5 2h6l.75 2h.75A2.5 2.5 0 0115 6.5zM11 9a3 3 0 10-3 3 3 3 0 003-3z"
                      ></path></svg>
                </button>
              </div>
            </div>
          </div>

          <div id="ember234" class="ember-view"></div>

          <div id="ember235" class="ember-view"></div>

          <div id="ember236" class="ember-view"></div>
        </div>
        <div class="live-video-hero-image__live-video"></div>
      </div>

      <div class="ph5">
        <div class="display-flex">
          <div class="pv-top-card--photo__v2 text-align-left">
            <div class="pv-top-card__photo-wrapper ml0">
              <div
                id="ember237"
                class="profile-photo-edit ember-view pv-top-card__edit-photo"
              >
                <button
                  data-control-name="edit_profile_photo"
                  class="profile-photo-edit__edit-btn"
                  type="button"
                  data-ember-action=""
                  data-ember-action-238="238"
                >
                  <img
                    width="200"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQHRmeQ5E_x3nw/profile-displayphoto-shrink_400_400/0/1611864789067?e=1626307200&amp;v=beta&amp;t=LtIZa_y2H-AUdHD_d_q72-EjxwXxscI_TEe84A8jXWg"
                    height="200"
                    alt="Edit photo"
                    id="ember239"
                    class="profile-photo-edit__preview ember-view"
                  />
                  <div class="profile-photo-edit__edit-icon-container">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16"
                        data-supported-dps="16x16"
                        fill="currentColor"
                        class="mercado-match"
                        width="16"
                        height="16"
                        focusable="false"
                      >
                        <path
                          d="M14.13 1.86a3 3 0 00-4.17 0l-7 7L1 15l6.19-2 6.94-7a3 3 0 000-4.16zm-8.36 9.71l-1.35-1.34L9.64 5 11 6.35z"
                        ></path></svg>
                  </div>
                </button>
              </div>
            </div>
          </div>

          <div class="flex-1 flex-column">
            <div class="pv-top-card__badge-wrap">
              <div>
                <a
                  href="/in/mohammadamin-sajedian-6a001471/edit/intro/"
                  id="ember240"
                  class="ember-view pv-top-card__edit artdeco-button--muted artdeco-button artdeco-button--tertiary artdeco-button--circle mh1"
                >
                  <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      data-supported-dps="24x24"
                      fill="currentColor"
                      class="mercado-match"
                      width="24"
                      height="24"
                      focusable="false"
                    >
                      <path
                        d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z"
                      ></path></svg>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="display-flex justify-space-between pt2">
          <div class="pv-text-details__left-panel mr5">
            <div>
              <h1
                class="text-heading-xlarge inline t-24 v-align-middle break-words"
              >
                Mohammadamin Sajedian
              </h1>
            </div>
            <div class="text-body-medium break-words">Electronic Engineer</div>
            <div class="pb2">
              <span class="text-body-small inline t-black--light break-words">
                United Kingdom
              </span>
              <span class="pv-text-details__separator t-black--light">
                <a
                  href="/in/mohammadamin-sajedian-6a001471/detail/contact-info/"
                  id="ember241"
                  class="ember-view link-without-visited-state cursor-pointer text-heading-small inline-block break-words"
                >
                  Contact info
                </a>
              </span>
            </div>
          </div>
          <ul class="pv-text-details__right-panel">
            <li>
              <a
                href="#"
                class="display-flex mb2 link-without-visited-state t-black"
              >
                <img
                  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                  alt=""
                  id="ember242"
                  class="ghost-company ember-view EntityPhoto-square-1 flex-shrink-zero mr2"
                />
                <h2 class="text-heading-small align-self-center flex-1">
                  <div
                    class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp"
                    style="
                      line-height: 2rem;
                      max-height: 4rem;
                      -webkit-line-clamp: 2;
                    "
                    aria-label="Current company"
                  >
                    Pizza Rush
                  </div>
                </h2>
              </a>
            </li>
            <li>
              <a
                href="#"
                class="display-flex link-without-visited-state t-black"
              >
                <img
                  src="https://media-exp1.licdn.com/dms/image/C560BAQHt27EigHC96Q/company-logo_100_100/0/1519898207070?e=1628726400&amp;v=beta&amp;t=VRR2DRATEYkmJOZK3_B5imOak5e_DTtCqWK6IUIi2K4"
                  alt=""
                  id="ember243"
                  class="ember-view EntityPhoto-square-1 flex-shrink-zero mr2"
                />
                <h2 class="text-heading-small align-self-center flex-1">
                  <div
                    class="inline-show-more-text inline-show-more-text--is-collapsed inline-show-more-text--is-collapsed-with-line-clamp"
                    style="
                      line-height: 2rem;
                      max-height: 4rem;
                      -webkit-line-clamp: 2;
                    "
                    aria-label="Education"
                  >
                    Islamic Azad University, Fasa Branch
                  </div>
                </h2>
              </a>
            </li>
          </ul>
        </div>

        <ul class="pv-top-card--list pv-top-card--list-bullet display-flex pb1">
          <li class="text-body-small">
            <a
              href="/search/results/people/?facetNetwork=%5B%22F%22%5D&amp;origin=MEMBER_PROFILE_CANNED_SEARCH"
              id="ember244"
              class="ember-view"
            >
              <span class="link-without-visited-state">
                <span class="t-bold">102</span> connections
              </span>
            </a>
          </li>
        </ul>

        <div class="pv-top-card-v2-ctas pt2 display-flex">
          <div
            id="ember293"
            class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-left ember-view pv-top-card-add-goals mr2"
          >
            <button
              aria-expanded="false"
              id="ember294"
              class="artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view artdeco-button artdeco-button--2 artdeco-button--primary"
              type="button"
              tabindex="0"
            >
              Open to
            </button>
            <div
              tabindex="-1"
              aria-hidden="true"
              id="ember295"
              class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-left artdeco-dropdown__content--placement-bottom ember-view"
            ></div>
          </div>

          <div id="ember245" class="pe-hub-div ember-view mr2">
            <button
              aria-expanded="false"
              aria-controls="pe-hub-div"
              id="ember246"
              class="artdeco-button artdeco-button--muted artdeco-button--2 artdeco-button--secondary ember-view pe-hub-div__expand-button pe-hub__action pe-hub-div__expand-button--v2-topcard"
            >
              <span class="artdeco-button__text"> Add div </span>
            </button>
          </div>

          <div>
            <div class="pvs-profile-actions">
              <div
                id="ember247"
                class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-left ember-view"
              >
                <button
                  aria-expanded="false"
                  id="ember248"
                  class="artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view pvs-profile-actions__action artdeco-button artdeco-button--secondary artdeco-button--muted artdeco-button--2"
                  type="button"
                  tabindex="0"
                >
                  <span aria-label="More actions">More</span>
                </button>
                <div
                  tabindex="-1"
                  aria-hidden="true"
                  id="ember249"
                  class="pvs-overflow-actions-dropdown__content artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-left artdeco-dropdown__content--placement-bottom ember-view"
                >
                  <div class="artdeco-dropdown__content-inner">
                    <ul>
                      <li>
                        <div
                          data-control-name="share-profile"
                          id="ember250"
                          class="pvs-profile-actions__action display-flex align-items-center artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view"
                          tabindex="0"
                        ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              data-supported-dps="24x24"
                              fill="currentColor"
                              class="mercado-match"
                              width="24"
                              height="24"
                              focusable="false"
                            >
                              <path
                                d="M23 12l-4.61 7H16l4-6H8a3.92 3.92 0 00-4 3.84V17a4 4 0 00.19 1.24L5.12 21H3l-.73-2.22A6.4 6.4 0 012 16.94 6 6 0 018 11h12l-4-6h2.39z"
                              ></path></svg>
                          <span class="display-flex t-normal" aria-hidden="true"
                            >Share profile in a message</span
                          >
                          <span class="a11y-text"
                            >Share Mohammadamin Sajedian’s profile via
                            message</span
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          data-control-name="save_to_pdf"
                          id="ember251"
                          class="pvs-profile-actions__action display-flex align-items-center artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view"
                          tabindex="0"
                        >
                          <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              data-supported-dps="24x24"
                              fill="currentColor"
                              class="mercado-match"
                              width="24"
                              height="24"
                              focusable="false"
                            >
                              <path
                                d="M21 14v5a3 3 0 01-3 3H6a3 3 0 01-3-3v-5h2v5a1 1 0 001 1h12a1 1 0 001-1v-5zm-4-.57V11l-4 2.85V3h-2v10.85L7 11v2.43L12 17z"
                              ></path></svg>
                          <span class="display-flex t-normal" aria-hidden="true"
                            >Save to PDF</span
                          >
                          <span class="a11y-text"
                            >Save your profile to PDF</span
                          >
                        </div>
                      </li>
                      <li>
                        <div
                          data-control-name="build_resume"
                          id="ember252"
                          class="pvs-profile-actions__action display-flex align-items-center artdeco-dropdown__item artdeco-dropdown__item--is-dropdown ember-view"
                          tabindex="0"
                        >
                          <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              data-supported-dps="24x24"
                              fill="currentColor"
                              class="mercado-match"
                              width="24"
                              height="24"
                              focusable="false"
                            >
                              <path
                                d="M15.5 2H4v20h16V6.5zM6 20V4h8v4h4v12z"
                              ></path></svg>
                          <span class="display-flex t-normal" aria-hidden="true"
                            >Build a resume</span
                          >
                          <span class="a11y-text">Build a resume</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pv-open-to-carousel">
        <div
          id="ember296"
          class="artdeco-card ember-view pv-open-to-carousel-card pv-open-to-carousel-card--unenrolled pv-open-to-carousel-card--single"
        >
          <div class="display-flex justify-space-between pl3 pr1">
            <a
              class="app-aware-link link-without-visited-state pv3"
              href="https://www.linkedin.com/in/mohammadamin%2Dsajedian%2D6a001471/opportunities/job-opportunities?trk=opento_sprofile_topcard"
            >
              <p class="t-14">
                <strong>Show recruiters you’re open to work</strong> — you
                control who sees this.
              </p>
            </a>
            <div>
              <button
                aria-label="Dismiss open to opportunities prompt"
                id="ember297"
                class="artdeco-button artdeco-button--circle artdeco-button--muted artdeco-button--icon-right artdeco-button--1 artdeco-button--tertiary ember-view mt1"
                type="button"
              >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    data-supported-dps="16x16"
                    fill="currentColor"
                    class="mercado-match"
                    width="16"
                    height="16"
                    focusable="false"
                  >
                    <path
                      d="M14 3.41L9.41 8 14 12.59 12.59 14 8 9.41 3.41 14 2 12.59 6.59 8 2 3.41 3.41 2 8 6.59 12.59 2z"
                    ></path></svg>
                <span class="artdeco-button__text"> </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
